*.mat -crlf -diff -merge
*.p -crlf -diff -merge
*.xlsx -crlf -diff -merge
*.docx -crlf -diff -merge
*.pdf -crlf -diff -merge
*.jpg -crlf -diff -merge
*.png -crlf -diff -merge
./Standalone/Windows/PrInCEInstaller_web.exe filter=lfs diff=lfs merge=lfs -text
